:host {
  margin-top: -72px;
}

#sidebar {
  background-color: #3A617E;
  height: 100%;
  color: #fff;
}

.home-info {
  margin-top: 42px;
}

.nav-item {
  background-color: #b4ccd6;
  color: #3a607e;
  margin: 5px 0 5px 0;
  text-align: center;
}

.menu-title {
  margin: 15px 0 15px 0;
  width: 100%;
  text-decoration: underline;
  text-align: center;
}

a.nav-link {
  color: inherit;
}
