<div id="sidebar" class="row">
  <div class="col">
    <div class="home-info" *ngIf="!userService.isLoggedIn">
      <p>Everyday in your association will be pleasant.</p>
      <p>Timely answers to questions and concerns.</p>
      <p>You have problem resolution at your fingertips.</p>
    </div>
    <!-- <div *ngIf="userService.user" class="nav flex-column nav-pills"> -->
    <ul *ngIf="userService.isLoggedIn" class="nav flex-column nav-pills">
      <app-association-switch class="align-content-center"></app-association-switch>
      <div class="menu-title">
        <h3>
          Menu
        </h3>
      </div>
      <li class="nav-item" *ngFor="let link of links">
        <a routerLink={{link.path}} class="nav-link">
          {{link.label}}
        </a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
