<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Submitted By</th>
      <th scope="col">Submitted Against</th>
      <th scope="col">Submitted On</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let objection of objections">
      <td>{{objection.submittedBy.units[0].addressLineOne}}</td>
      <td>{{objection.submittedAgainst.units[0].addressLineOne}}</td>
      <td>
        {{objection.createdAt | date:'short'}}
      </td>
      <td>
        <a routerLink="../objection/{{objection.id}}">View</a>
      </td>
      <!-- <td (click)="selectObjection(objection); htmlInsideModal.open()">
        <button class="btn">
          Vote
        </button>
      </td> -->
    </tr>
  </tbody>
</table>

<!-- <app-modal #htmlInsideModal>
  <ng-template #modalBody>
    <div class="row">
      <div class="col">
        <p>
          {{currentObjection.comment}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            How would you like to vote on this
          </div>
        </div>
        <button class="btn btn-danger" (click)="vote(0)">Disapprove</button>
        <button class="btn btn-success" (click)="vote(1)">Approve</button>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="htmlInsideModal.close()">Close</button>
      </div>
    </div>
  </ng-template>
</app-modal> -->
