<div class="row">
  <div class="col">
    <div *ngIf="message">
      <p>
        {{message}}
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <form #loginForm="ngForm" (ngSubmit)="requestToken(email)">
          <input type="email" placeholder="email" class="form-control" name="email" required [(ngModel)]="email">
          <a routerLink="/login">Login</a>
          <button class="btn btn-primary float-right" type="submit">Submit</button>
        </form>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>
