<div class="row">
  <div class="col">
    <div class="incorrect" *ngIf="message">
      <p>
        {{message}}
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <form #passwordForm="ngForm" (ngSubmit)="changePassword(password)">
          <input type="password" placeholder="password" class="form-control" name="password" required [(ngModel)]="password">
          <a routerLink="/login">Login</a>
          <button class="btn btn-primary float-right" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
