<div class="row justify-content-center">
    <div class="col col-lg-10">
      <div class="row">
        <div class="col">
          <h3 class="directory-header">
            Resolution Center
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h5>
                File Objection
              </h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="file-complaint row">
                <form #complaintForm="ngForm" (ngSubmit)="submit()" class="col">
                  <div class="form-group">
                    <label for="against">Against
                      <select name="against" id="against" [(ngModel)]="complaint.against" #against="ngModel" required>
                        <option value=""></option>
                        <option value="12345 Fake Dr N">12345 Fake Dr N</option>
                        <option value="12346 Fake Dr N">12346 Fake Dr N</option>
                        <option value="12347 Fake Dr N">12347 Fake Dr N</option>
                        <option value="12348 Fake Dr N">12348 Fake Dr N</option>
                        <option value="12349 Fake Dr N">12349 Fake Dr N</option>
                        <option value="12350 Fake Dr N">12350 Fake Dr N</option>
                      </select>
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="message">Comments
                      <textarea placeholder="" class="form-control" name="message" required [(ngModel)]="complaint.message" #message="ngModel"></textarea>
                    </label>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-danger" type="reset">Cancel</button>
                    <button class="btn btn-primary" type="submit" [disabled]="!complaintForm.form.valid">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>