<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-6 welcome-images">
        <img src="assets/images/welcomehoadirector.jpg" alt="">
        <img src="assets/images/hoaaplacetocalhome.jpg" class="call-home">
      </div>
    </div>
    <div class="incorrect" *ngIf="message">
      <p>
        {{message}}
      </p>
    </div>
    <div class="row">
      <div class="col-4">
        <form #loginForm="ngForm" (ngSubmit)="login(user)">
          <input type="email" placeholder="email" class="form-control" name="email" required [(ngModel)]="user.email"
            #email="ngModel">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Username is required
          </div>
          <input type="password" placeholder="password" class="form-control" name="password" required [(ngModel)]="user.password"
            #password="ngModel">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Password is required
          </div>
          <a routerLink="/forgotten-password">Reset Password</a>
          <button class="btn btn-primary float-right" type="submit" [disabled]="!loginForm.form.valid">Login</button>
        </form>
      </div>
      <div class="col">

      </div>
    </div>
  </div>
</div>
