<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <h3 class="directory-header">
          Neighborhood Directory
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm col-md-6 col-lg-4 d-flex justify-content-center" *ngFor="let unit of units">
        <div class="person">
          <h5>
            {{unit.user.fullName}}
          </h5>
          <div class="person-content">
            <div class="address-line-1">
              {{unit.addressLineOne}}
            </div>
            <div class="address-line-2">
              {{unit.city}}, {{unit.state}} {{unit.zip}}
            </div>
            <div class="email">
              {{unit.user.email}}
            </div>
            <div class="phone">
              {{unit.user.number}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>